.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  }

.advantage-text {
  width: 270px;
  
  }

  .advantage-text:not(:last-child) {
  margin-right: 30px;
  }

.advantage-text-list {
  display: flex;
}

.advantage-detail {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 25px 100px 25px 100px;
}

.adv-detail-icon {
  display: flex;
  justify-content: center;
}

.advantage-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.advantage-detail-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 270px;
}